<section class="section dashboard-section" id="dashboard">
  <div class="dashboard-bg-wrapper">
    <div class="container dashboard-container">
      <h2 class="section-title dashboard-title">
        Your green progress in numbers.
      </h2>
      <p class="dashboard-text">
        Get real-time insights into your organization's sustainability
        performance with comprehensive KPI tracking and visual analytics.
      </p>
      <picture>
        <source
          srcset="./img/dashboard/dashboard-bg-desk.png"
          media="(min-width: 1440px)"
          width="1021"
          height="642"
        />
        <source
          srcset="./img/dashboard/dashboard-bg-mob.png"
          width="344"
          height="646"
        />
        <img
          class="dashboard-img"
          src="./img/dashboard/dashboard-bg-mob.png"
          alt="Dashboard"
          width="344"
          height="646"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
