<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">Your questions, answered.</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <div class="faq-text-wrapper">
              <span class="faq-btn-text">1. Do I need prior experience?</span>
              <p class="faq-bottom-text">No, anyone can play.</p>
            </div>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="11" height="22">
                <use href="./img/sprite.svg#icon-question-mark"></use></svg
            ></span>
          </button>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <div class="faq-text-wrapper">
              <span class="faq-btn-text">2. How many players per room?</span>
              <p class="faq-bottom-text">1–8, depending on the scenario.</p>
            </div>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="11" height="22">
                <use href="./img/sprite.svg#icon-question-mark"></use></svg
            ></span>
          </button>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <div class="faq-text-wrapper">
              <span class="faq-btn-text">3. Is it scary?</span>
              <p class="faq-bottom-text">
                Some rooms are thrillers, others are more logical.
              </p>
            </div>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="11" height="22">
                <use href="./img/sprite.svg#icon-question-mark"></use></svg
            ></span>
          </button>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <div class="faq-text-wrapper">
              <span class="faq-btn-text">4. Can kids join?</span>
              <p class="faq-bottom-text">
                Yes, from 12+ with parental guidance.
              </p>
            </div>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="11" height="22">
                <use href="./img/sprite.svg#icon-question-mark"></use></svg
            ></span>
          </button>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <div class="faq-text-wrapper">
              <span class="faq-btn-text"
                >5. Are the rooms online or offline?</span
              >
              <p class="faq-bottom-text">Both — choose your format.</p>
            </div>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="11" height="22">
                <use href="./img/sprite.svg#icon-question-mark"></use></svg
            ></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
