<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-img-wrapper">
          <svg class="hero-icon" width="23" height="23">
            <use href="./img/sprite.svg#icon-key"></use>
          </svg>
          <svg class="hero-icon" width="23" height="23">
            <use href="./img/sprite.svg#icon-eye-red"></use>
          </svg>
          <svg class="hero-icon" width="23" height="23">
            <use href="./img/sprite.svg#icon-sparkles"></use>
          </svg>
        </div>
        <h1 class="hero-title">One step away from the unknown.</h1>
        <p class="hero-text">
          Step into EasyStepVia — escape rooms where every puzzle is a door, and
          every door hides a new story.
        </p>
        <a href="#contact" class="hero-btn">Book Your Escape </a>
      </div>
    </div>
  </div>
</section>
