<div class="context-menu">
  <div class="container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="34" height="34">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Welcome</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#story">Story</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#rooms">Rooms</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#challenges"
            >Challenges</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#booking">Booking</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
