<section class="section rooms-section" id="rooms">
  <div class="rooms-bg-wrapper">
    <div class="container rooms-container">
      <h2 class="section-title rooms-title">Choose your adventure.</h2>
      <p class="rooms-text">
        From beginner-friendly mysteries to expert-level challenges, find the
        perfect room for your skill level.
      </p>
      <ul class="rooms-list">
        <li class="rooms-list-item">
          <span class="rooms-item-icon-wrapper"
            ><svg class="rooms-icon" width="34" height="34">
              <use href="./img/sprite.svg#icon-lightbulb"></use></svg
          ></span>
          <h3 class="rooms-item-title">Beginner Rooms</h3>
          <p class="rooms-item-text">
            short, intuitive puzzles for new players
          </p>
        </li>
        <li class="rooms-list-item">
          <span class="rooms-item-icon-wrapper"
            ><svg class="rooms-icon" width="34" height="34">
              <use href="./img/sprite.svg#icon-handshake"></use></svg
          ></span>
          <h3 class="rooms-item-title">Team Rooms</h3>
          <p class="rooms-item-text">
            designed for groups of 4–8 with cooperative mechanics
          </p>
        </li>
        <li class="rooms-list-item">
          <span class="rooms-item-icon-wrapper"
            ><svg class="rooms-icon" width="34" height="34">
              <use href="./img/sprite.svg#icon-brain"></use></svg
          ></span>
          <h3 class="rooms-item-title">Expert Rooms</h3>
          <p class="rooms-item-text">
            time-locked riddles for the bravest minds
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
