<section class="story-section section" id="story">
  <div class="story-section-wrapper">
    <div class="container story-container">
      <h2 class="section-title story-title">Every room tells a legend.</h2>
      <div class="story-controls-wrapper">
        <div class="story-swiper-container">
          <ul class="swiper-wrapper story-swiper-wrapper">
            <li class="swiper-slide story-list-item">
              <button class="story-slide-top-text-btn">
                <picture>
                  <source
                    srcset="./img/story/story-img1-desk.png"
                    media="(min-width: 1440px)"
                    width="308"
                    height="285" />
                  <source
                    srcset="./img/story/story-img1-mob.png"
                    width="272"
                    height="252" />
                  <img
                    class="story-img"
                    src="./img/story/story-img1-mob.png"
                    alt="Story"
                    width="272"
                    height="252"
                    loading="lazy"
                /></picture>
                <span class="story-toggle-symbol"
                  ><svg class="story-forward-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
                ></span>
                <div class="story-slide-top-wrapper">
                  <p class="story-slide-top-title">The Forgotten Monastery</p>
                  <p class="story-slide-top-text">
                    find the relic before midnight bells ring
                  </p>
                </div>
              </button>
              <div class="story-slide-bottom-wrapper">
                <p class="story-slide-bottom-text">
                  Deep within an ancient monastery, a sacred relic has been
                  hidden for centuries. Legend speaks of those who enter never
                  return the same. Will you solve the mystery before the
                  midnight bells toll your doom?
                </p>
                <a href="#contact" class="story-slide-link">Book This Room</a>
              </div>
            </li>
            <li class="swiper-slide story-list-item">
              <button class="story-slide-top-text-btn">
                <picture>
                  <source
                    srcset="./img/story/story-img2-desk.png"
                    media="(min-width: 1440px)"
                    width="308"
                    height="285" />
                  <source
                    srcset="./img/story/story-img2-mob.png"
                    width="272"
                    height="252" />
                  <img
                    class="story-img"
                    src="./img/story/story-img2-mob.png"
                    alt="Story"
                    width="272"
                    height="252"
                    loading="lazy"
                /></picture>
                <span class="story-toggle-symbol"
                  ><svg class="story-forward-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
                ></span>
                <div class="story-slide-top-wrapper">
                  <p class="story-slide-top-title">Cyber Heist 2049</p>
                  <p class="story-slide-top-text">
                    hack the vault before security AI detects you
                  </p>
                </div>
              </button>
              <div class="story-slide-bottom-wrapper">
                <p class="story-slide-bottom-text">
                  In the neon-lit future of 2049, you are elite hackers
                  attempting the ultimate heist. Break through layers of digital
                  security before the AI system traces your location and sends
                  enforcement drones.
                </p>
                <a href="#contact" class="story-slide-link">Book This Room</a>
              </div>
            </li>
            <li class="swiper-slide story-list-item">
              <button class="story-slide-top-text-btn">
                <picture>
                  <source
                    srcset="./img/story/story-img3-desk.png"
                    media="(min-width: 1440px)"
                    width="308"
                    height="285" />
                  <source
                    srcset="./img/story/story-img3-desk.png"
                    width="272"
                    height="252" />
                  <img
                    class="story-img"
                    src="./img/story/story-img3-desk.png"
                    alt="Story"
                    width="272"
                    height="252"
                    loading="lazy"
                /></picture>
                <span class="story-toggle-symbol"
                  ><svg class="story-forward-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-forward"></use></svg
                ></span>
                <div class="story-slide-top-wrapper">
                  <p class="story-slide-top-title">Pharaoh’s Secret</p>
                  <p class="story-slide-top-text">
                    escape the tomb before the sand buries you
                  </p>
                </div>
              </button>
              <div class="story-slide-bottom-wrapper">
                <p class="story-slide-bottom-text">
                  You are archaeologists who have discovered the lost tomb of a
                  forgotten pharaoh. But ancient curses protect the treasures
                  within, and the desert sands are rising. Can you escape with
                  the secrets of eternity?
                </p>
                <a href="#contact" class="story-slide-link">Book This Room</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="controls story-controls">
          <button
            class="arrow-btn"
            id="storyLeftArrow"
            aria-label="Previous slide"
          >
            <svg class="arrow-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="arrow-btn"
            id="storyRightArrow"
            aria-label="Next slide"
          >
            <svg class="arrow-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
