@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/story.scss';
@import './components/rooms.scss';
@import './components/challenges.scss';
@import './components/booking.scss';
@import './components/faq.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy-header.scss';
@import './components/privacy.scss';
